extends layout

block content
  script(src='/javascripts/admin.js')
  header(class='jumbotron subhead')
  section#desc
    div(class='row')
      div(class='span4') 
        h2 
          a(href='/approve') Approve
      div(class='span4')
        h2 Ban
      div(class='span4')
        h2 Broadcast
