extends layout

block content
  header(class='jumbotron subhead')
    h1 Welcome
  p(class='lead') langy.io is really cool
  section#desc
    div(class='row')
      div(class='span4') Here is a description
      div(class='span4')
      div(class='span4')
