extends layout

block content
  header(class='jumbotron subhead')
    h1= lang
  p(class='lead') Sun Microsystems, Inc.
  section#desc
    div(class='row')
      div(class='span4') Here is a description
      div(class='span4')
      div(class='span4')
