extends layout

block content
  script(src='/javascripts/langies.js')
  header(class='jumbotron subhead')
    h1 Projects
  p(class='lead') By Votes
  section#desc
    div(class='row')
      div#projects(class='span12')
