doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/javascripts/main.js')
  body
    div(class='navbar navbar-fixed-top')
      div(class='navbar-inner')
        div(class='container')
          a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='brand', href='../') langy.io
          div#main-menu(class='nav-collapse')
            ul#main-menu-left(class='nav')
              li
                a(href='#') About
            ul#main-menu-right(class='nav pull-right')
              li
                - if (!eauth.loggedIn)
                  a(href='/auth/twitter')
                    img(src='/images/sign-in-with-twitter-l-sm.png')
                - else 
                  a(href='/deauth') Logged in as #{eauth.twitter.user.name}

  
    div(class='container')
      block content
