@import url(bootstrap.css);
@import url(bootstrap-responsive.css);
@import url(docs.css);

/*-----------------------------*\
 * CONTENTS
 * ----------------------------*/
/*
 * RESET
 * NAV
 */

.required-text {
  color: #B94A48;
}

.badge.no-voter:hover {
  cursor: pointer;
}

/*-----------------------------*\
 * NAV
 * ----------------------------*/
img.avatar {
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}

span.avatar-text {
  padding-left: 3px;
  font-weight: bold;
}

/*-----------------------------*\
 * TYPOGRAPHY
 * ----------------------------*/
.error-soft {
  color: #b94a48;
  text-decoration: none;
}
.error-soft:hover {
  text-decoration: none;
}
